<dx-data-grid
  [dataSource]="data"
  keyExpr="id"
  dataRowTemplate="dataRowTemplateName"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  (selectionChange)="log($event)"
  (selectedRowKeysChange)="log($event)"
  [selectedRowKeys]="[]"
  [remoteOperations]="{ sorting: true, filtering: true }"
  #grid
>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-selection mode="single"></dxo-selection>
  <ng-container *dxTemplate="let data of 'dataRowTemplateName'">
    <tr
      class="activity-list-row {{ data.data.rowType }} "
      [ngClass]="{ selected: data.isSelected }"
      (click)="
        grid.instance.selectRowsByIndexes([data.rowIndex]);
        grid.instance.repaint()
      "
    >
      <td *ngFor="let column of data.columns">
        {{ data.data[column.dataField] }}
      </td>
    </tr>
  </ng-container>
  <dxi-column
    dataField="sortOrder"
    [visible]="false"
    sortIndex="0"
    sortOrder="asc"
  ></dxi-column>
  <dxi-column dataField="rowType"></dxi-column>
  <dxi-column dataField="column1"></dxi-column>
  <dxi-column dataField="column2"></dxi-column>
</dx-data-grid>
