.activity-list-row {
  border: thin solid #dddddd;
}

.activity-list-row:hover {
  filter: brightness(0.9);
}

.activity-list-row.run td {
  background: var(--green) !important;
  color: white !important;
}

.activity-list-row.past {
  background: var(--gray) !important;
  color: black !important;
}

.activity-list-row.future {
  background: white !important;
  color: black !important;
}

.activity-list-row.selected {
  border: medium solid var(--gold);
}
